<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.calorietracker">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Mapsscreen"
            android:label="@string/title_activity_mapsscreen"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Mainhome"
            android:label="@string/title_activity_mainhome"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- <activity -->
        <!-- android:name=".Homescreen_activity" -->
        <!-- android:label="@string/title_activity_homescreen"> -->
        <!-- &lt;!&ndash;<meta-data&ndash;&gt; -->
        <!-- &lt;!&ndash;android:name="android.support.PARENT_ACTIVITY"&ndash;&gt; -->
        <!-- &lt;!&ndash;android:value=".Homescreen" />&ndash;&gt; -->
        <!-- </activity> -->
        <activity
            android:name=".Homescreen"
            android:label="@string/title_activity_homescreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignUp"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>